# Run the following command to generate a random secret key
# python -c "from django.core.management.utils import get_random_secret_key;print(get_random_secret_key())"
DJANGO_SECRET_KEY=

CLIENT_ORIGIN_URL=http://localhost:4040
PORT=6060
DEBUG_ENABLE=false

# Get this values from the dashboard
AUTH0_DOMAIN=
AUTH0_AUDIENCE=
